Django==1.8.12
beautifulsoup4==4.3.2
django-allauth==0.25.2
django-appconf==1.0.2
django-durationfield==0.5.1
django-registration==2.1.2
django-toolkit==0.3.3
lxml==3.4.4
oauthlib==1.1.2
python-dateutil==2.4.2
python-google-places==1.1.0
python-openid==2.2.5
requests==2.9.1
requests-oauthlib==0.6.2
six==1.10.0
tldextract==1.6
unicodecsv==0.13.0
wsgiref==0.1.2
